# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
ENV/
env/
bin/
include/
pylatexenc_cache/

# Environment Variables
.env
.env.*
!.env.example

# Certificates
certs/

# Logs
*.log
database/init_db.log
logs/

# Database / Data
database/counts.txt
database/csvs/*.csv
backups/
backups_incrementales/
backups_migraciones/
data/

# IDEs/Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# UI / Flet / Desktop App related temporary files
*.spec
.flet_*.html
flet_view.exe
gui/
build_desktop/

# PyInstaller / Build Artifacts
build/
dist/
*.pyz
*.pkg
