flet==0.25.2
psycopg[binary]==3.2.13
psycopg_pool==3.2.1
psycopg2-binary==2.9.10
python-dotenv==1.0.0
zeep==4.2.1
APScheduler==3.10.4
openpyxl==3.1.2
pandas==2.2.0
numpy==1.26.0
fpdf2==2.7.0
pyinstaller==6.4.0
qrcode[pil]==7.4.2
Pillow==10.2.0
pypdfium2==5.0.0
pywin32==311
